@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-myfont: var(--font-myfont);
  }

  .font-myfont {
  font-family: var(--font-myfont);
}
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;

  background: repeating-linear-gradient(
    -45deg,
    #cc83b1 0px,
    #cc83b1 30px,
    #663153 30px,
    #663153 40px
  );
  background-size: 113.5px 113.5px;

  position: relative;

}

@layer utilities {
  .text-outline {
    filter:
      drop-shadow(3px 0 0 #ededed)
      drop-shadow(-3px 0 0 #ededed)
      drop-shadow(0 3px 0 #ededed)
      drop-shadow(0 -3px 0 #ededed);
  }
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/stars.png") repeat;
  background-size: 1080px; /* 星の密度を調整 */
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}




